html, body, div, span, applet, object, iframe,
h1,
h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a:hover, a:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'MullerThinDemo';
  src: url("../fonts/MullerThinDemo.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerExtraBoldDemo';
  src: url("../fonts/MullerExtraBoldDemo.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
}

.section {
  max-width: 1600px;
  margin: 0 auto 10% auto;
}

img {
  width: 100%;
}

a {
  font-family: 'Montserrat';
  font-size: calc( 0.00179 * 100vw + 11.14286px);
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.clearfix::after {
  display: table;
  clear: both;
  overflow: hidden;
  content: '';
}

h1, h2 {
  font-family: 'Montserrat';
  font-size: calc( 0.01786 * 100vw + 15.42857px);
  font-weight: bold;
  padding-bottom: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #292929;
  text-shadow: 5px 26px 81px rgba(0, 15, 26, 0);
}

@media only screen and (max-width: 620px) {
  h1, h2 {
    color: white;
  }
}

h2 {
  color: white;
}

h3 {
  font-family: 'Montserrat';
  font-size: calc( 0.00357 * 100vw + 12.28571px);
  font-weight: 400;
  display: inline-block;
  margin-bottom: 20px;
  color: #383838;
}

@media only screen and (max-width: 620px) {
  h3 {
    color: white;
  }
}

h4 {
  font-family: 'Montserrat';
  font-size: calc( 0.01964 * 100vw + 16.57143px);
  font-weight: bold;
  text-align: center;
  letter-spacing: 15px;
  text-transform: uppercase;
  color: #383838;
}

@media only screen and (max-width: 1024px) {
  h4 {
    letter-spacing: 0px;
  }
}

h5 {
  font-family: 'Montserrat';
  font-size: calc( 0.00804 * 100vw + 9.14286px);
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #383838;
}

p {
  font-family: 'Montserrat';
  font-size: calc( 0.00179 * 100vw + 13.14286px);
  font-weight: 300;
  line-height: 30px;
  color: #a7a7a7;
}

.slider-gallery-1 .gallery {
  text-align: center;
  margin: 2% auto;
}

@media only screen and (max-width: 768px) {
  .slider-gallery-1 .gallery {
    padding-bottom: 5%;
  }
}

.slider-gallery-1 .gallery__image {
  display: inline-block;
  -webkit-transition: width ease 0.1s;
  -moz-transition: width ease 0.1s;
  -ms-transition: width ease 0.1s;
  -o-transition: width ease 0.1s;
  transition: width ease 0.1s;
  width: 17%;
  margin: 0 2%;
  max-width: 300px;
}

@media only screen and (max-width: 768px) {
  .slider-gallery-1 .gallery__image {
    width: 30%;
  }
}

.slider-gallery-1 .gallery__image--active {
  position: relative;
  display: inline-block;
  max-width: 530px;
  width: 25%;
  background-color: #faf7f2;
}

.gallery__image--active-link {
    font-family: 'Montserrat';
    text-align: left;
    color: black;
    padding: 1% 5% 1% 2%;
    display: inline-block;
    width: 23%;
    margin: 2% 0 0 -2%;
    border: 3px solid black;
    position: absolute;
    left: 41%;
}

@media only screen and (max-width: 768px) {
.gallery__image--active-link {
text-align: center;
    width: 50%;
    margin: 0% 0px 0px -20%;
    position: absolute;
    left: 41%;
}
}

#gallery__voyager, #gallery__drifter {
position: absolute;
    left: 48.2%;
    display: inline-block;
    max-width: 530px;
    width: 25%;
    z-index: 10;
}

@media only screen and (max-width: 768px) {
#gallery__voyager, #gallery__drifter {
    width: 70%;
    margin: 5% 0;
    position: absolute;
    left: 15.2%;
    z-index: 10;
}
}

.buy__link {
    color: #888888;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    padding-left: 32%;
}

.buy__link::after {
    content: '';
    display: inline-block;
    width: 78px;
    height: 55px;
    vertical-align: middle;
    margin-top: -3px;
    margin-left: -10px;
    background: url(../images/sprite.png) -35px 2px no-repeat;
    transform: scale(0.4);
}

@media only screen and (max-width: 768px) {
.buy__link {
    width: 28%;
    padding-left: 22%;
    margin: -11% 0% 0% 34%;
}
}

.buy__link:hover {
  color: #977f53;
}

.gallery__image--active-link h2 {
    color: black;
    font-size: 33px;
    margin-left: -8px;
}

@media only screen and (max-width: 768px) {
.gallery__image--active-link h2 {
    color: black;
    font-size: 23px;
    margin: 0 auto;
}
}

@media only screen and (max-width: 768px) {
  .slider-gallery-1 .gallery__image--active {
    width: 70%;
    margin: 5% 0;
  }
}

@media only screen and (max-width: 768px) {
  .slider-gallery-1 .gallery__image--active::before {
    margin: 10% 20% 10% -5%;
    padding: 10% 30% 10% 5%;
  }
}

.slider-gallery-1 .gallery-nav {
  margin: 0 0 5% 50%;
}

@media only screen and (max-width: 768px) {
  .slider-gallery-1 .gallery-nav {
    display: none;
  }
}

.slider-gallery-1 .gallery-nav__item {
  font-family: 'Montserrat';
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin: 0 3%;
  color: #878787;
}

.slider-gallery-1 .gallery-nav__item--hover {
  font-family: 'Montserrat';
  font-size: 34px;
  font-weight: 400;
  line-height: 80px;
  margin: 0 10%;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  color: black;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: rgba(135, 135, 135, 0);
  box-shadow: 5px 26px 81px rgba(0, 15, 26, 0.21);
}

.slider-gallery-1 .slide-active::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 29px;
  height: 48px;
  background: url("../images/sprite.png") -113px 0px no-repeat;
  transform: scale(0.4);
  margin: 20px 0 0 -80px;
}

.slider-gallery-1 .slide-active::after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 29px;
  height: 48px;
  background: url("../images/sprite.png") -113px -48px no-repeat;
  transform: scale(0.4);
  margin: 20px 0 0 50px;
}

.slider-gallery-2 {
  background-color: #ededed;
}

.slider-gallery-2 .gallery {
  text-align: center;
  padding: 5% 0 1% 0;
}

@media only screen and (max-width: 768px) {
  .slider-gallery-2 .gallery {
    padding-bottom: 5%;
  }
}

.slider-gallery-2 .gallery__image {
  display: inline-block;
  width: 17%;
  margin: 0 2%;
  max-width: 300px;
  -webkit-transition: width ease 0.1s;
  -moz-transition: width ease 0.1s;
  -ms-transition: width ease 0.1s;
  -o-transition: width ease 0.1s;
  transition: width ease 0.1s;
}

@media only screen and (max-width: 768px) {
  .slider-gallery-2 .gallery__image {
    width: 30%;
  }
}

.slider-gallery-2 .gallery__image--active {
  display: inline-block;
  width: 25%;
  max-width: 530px;
  background-color: #faf7f2;
}

@media only screen and (max-width: 768px) {
  .slider-gallery-2 .gallery__image--active {
    width: 70%;
    margin: 5% 0;
  }
}

@media only screen and (max-width: 768px) {
  .slider-gallery-2 .gallery__image--active::before {
    margin: 10% 20% 10% -5%;
    padding: 10% 30% 10% 5%;
  }
}

.slider-gallery-2 .gallery-nav {
  padding: 0 0 5% 50%;
}

@media only screen and (max-width: 768px) {
  .slider-gallery-2 .gallery-nav {
    display: none;
  }
}

.slider-gallery-2 .gallery-nav__item {
  font-family: 'Montserrat';
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin: 0 3%;
  color: #878787;
}

.slider-gallery-2 .gallery-nav__item--hover {
  font-family: 'Montserrat';
  font-size: 34px;
  font-weight: 400;
  line-height: 80px;
  margin: 0 10%;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  color: black;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: white;
  box-shadow: 5px 26px 81px rgba(0, 15, 26, 0.21);
}

.slider-gallery-2 .slide-active::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 29px;
  height: 48px;
  background: url("../images/sprite.png") -113px 0px no-repeat;
  transform: scale(0.4);
  margin: 20px 0 0 -80px;
}

@media only screen and (max-width: 768px) {
  .slider-gallery-2 .slide-active::before {
    margin: 20px 0 0 -7%;
  }
}

.slider-gallery-2 .slide-active::after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 29px;
  height: 48px;
  background: url("../images/sprite.png") -113px -48px no-repeat;
  transform: scale(0.4);
  margin: 20px 0 0 50px;
}

@media only screen and (max-width: 768px) {
  .slider-gallery-2 .slide-active::after {
    margin: 20px 0 0 4%;
  }
}

#section-1::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 68%;
  right: 0;
  height: 100%;
  display: inline-block;
  background: url("../images/home-slider.png") no-repeat 100%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 620px) {
  #section-1::before {
    background: url("../images/home-slider.png") no-repeat 30%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
  }
}

#section-1 {
  position: relative;
  margin-bottom: 100px;
}

@media only screen and (max-width: 620px) {
  #section-1 {
    min-height: 400px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.top {
  display: table;
  width: 100%;
  margin-bottom: 5%;
}

.top__logo {
  padding-left: 1%;
  width: 170px;
  display: table-cell;
}

@media only screen and (max-width: 620px) {
  .top__logo {
    width: 100px;
  }
}

.top__navigation {
  display: table-cell;
  vertical-align: middle;
  padding-left: 4%;
}

.navigation__link-top {
  margin: 0 1%;
  font-family: 'MullerExtraBoldDemo';
  font-size: 14px;
  color: black;
}

#navigation__link-top-white {
  color: white;
}

@media only screen and (max-width: 620px) {
  .navigation__link-top {
    width: 5%
    margin: 10%;
    display: block;
    color: white;
    text-align: right;
}
}

@media only screen and (max-width: 809px) {
  .navigation__link-top {
    color: white;
}
}

.navigation__link-top::before, .title__link::before, .navigation__link::before {
  content: '';
  display: inline-block;
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
  border-bottom: 1px solid #b8a47e;
  opacity: 0;
  margin-top: -3px;
}

.navigation__link-top::after, .navigation__link::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  vertical-align: middle;
  margin-left: 5px;
  background: #b8a47e;
  opacity: 0;
  margin-top: -3px;
}

.navigation__link-top:hover::before, .title__link:hover::before, .navigation__link:hover::before,
.navigation__link:hover::after,
.navigation__link-top:hover::after,
.navigation__link:hover::after {
  opacity: 100;
}

.slider {
  padding-left: 1%;
  position: absolute;
  width: 170px;
}

@media only screen and (max-width: 1024px) {
  .slider {
    display: none;
  }
}

.slider__navigationUp, .slider__navigationDown {
  cursor: pointer;
  width: 50px;
  height: 29px;
  margin-left: 59px;
  background: url("../images/sprite.png") -32px -82px no-repeat;
  transform: scale(0.4);
  margin-bottom: 10px;
}

.slider__navigationDown {
  background: url("../images/sprite.png") -32px -53px no-repeat;
  margin-bottom: 100px;
}

.slider__navigationDown::after {
  content: '';
  position: absolute;
  height: 130px;
  vertical-align: middle;
  margin-right: 10px;
  border-right: 3px solid #b8a47e;
  top: 250%;
  right: 25%;
}

.slider__button {
  color: #878787;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10%;
  cursor: pointer;
  transition: margin ease 0.1s;
}

.slider__button:hover {
  width: 90px;
  height: 90px;
  line-height: 90px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  box-shadow: 5px 26px 81px rgba(0, 15, 26, 0.21);
  background-color: rgba(135, 135, 135, 0);
  color: black;
  font-size: 32px;
  font-weight: 400;
  margin: 0 auto 20% auto;
}

.title {
  padding: 5% 0 15% 15%;
}

.title a {
  text-transform: none;
}

@media only screen and (max-width: 1024px) {
  .title {
    padding: 5% 0 15% 5%;
  }
}

@media only screen and (max-width: 620px) {
  .title {
    padding: 25% 0 0% 10%;
  }
}

.title__link {
  color: #b8a47e;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  padding-left: 5%;
}

@media only screen and (max-width: 620px) {
  .title__link {
    color: white;
    padding: 10% 0 0 55%;
  }
}

.title__link::before {
  opacity: 100;
}

@media only screen and (max-width: 620px) {
  .title__link::before {
    display: none;
  }
}

.title__link::after {
  content: '';
  display: inline-block;
  width: 19px;
  height: 34px;
  vertical-align: middle;
  margin-left: 5px;
  background: url("../images/sprite.png") -113px -96px no-repeat;
  transform: scale(0.4);
}

.title__link:hover {
  color: #977f53;
}

#section-2::before {
  background: url("../images/voyager.png") no-repeat 0;
  content: '';
  position: absolute;
  z-index: 1;
  width: 65%;
  height: 100%;
  display: inline-block;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  #section-2::before {
    width: 100%;
    z-index: -1;
  }
}

#section-2 {
  position: relative;
}

@media only screen and (max-width: 768px) {
  #section-2 {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.voyager {
  padding: 5% 1% 5% 0;
}

.voyager__title, .drifter__title {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  max-width: 1000px;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .voyager__title, .drifter__title {
    position: static;
    z-index: none;
    top: none;
    transform: none;
    max-width: none;
  }
}

.title__description {
  color: white;
}

.voyager__passage, .drifter__passage {
  position: relative;
  z-index: 2;
  margin-left: 34%;
  max-width: 800px;
  padding: 5% 5% 5% 5%;
  border: 3px solid #b8a47e;
}

.drifter__passage--navy-salt {
    position: absolute;
    top: 9%;
    left: 4%;
    width: 26%;
}

@media only screen and (max-width: 768px) {
.drifter__passage--navy-salt {
display: none;
}
}

.drifter__passage--navy-salt h2 {
  color: #aeaeae;
}

.voyager__passageDown {
    background-color: white;
    width: 18px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
    bottom: -5%;
    right: 12%;
    z-index: 2;
}

.drifter__passageDown {
    background-color: #ededed;
    width: 18px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
    bottom: -4%;
    left: 12%;
    z-index: 2;
}

@media only screen and (max-width: 768px) {
  .voyager__passageDown, .drifter__passageDown {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .voyager__passage, .drifter__passage {
    position: static;
    margin: 10%;
  }
}

.voyager__passage--left {
  margin-left: 50%;
}

@media only screen and (max-width: 768px) {
  .voyager__passage--left {
    margin-left: 0;
    color: white;
  }
}

#section-3::before {
  background: url("../images/drifter.png") no-repeat 0;
  content: '';
  position: absolute;
  z-index: 1;
  width: 65%;
  height: 100%;
  right: 0;
  display: inline-block;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  #section-3::before {
    width: 100%;
    z-index: -1;
    background: url("../images/drifter.png") no-repeat 70%;
  }
}

#section-3 {
  position: relative;
  background-color: #ededed;
}

@media only screen and (max-width: 768px) {
  #section-3 {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.section-drifter {
  position: relative;
  margin: 0 auto;
}

.drifter {
  padding: 5% 0 5% 1%;
}

.drifter__title {
  margin-left: 38%;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .drifter__title {
    position: static;
    z-index: none;
    top: none;
    transform: none;
    max-width: none;
  }
}

.drifter__passage {
  margin: 0 30% 0 0;
}

@media only screen and (max-width: 768px) {
  .drifter__passage {
    position: static;
    margin: 10%;
  }
}

.drifter__passage--right {
  margin-right: 60%;
}

@media only screen and (max-width: 768px) {
  .drifter__passage--right {
    margin-right: 0;
    color: white;
  }
}

.section-tanner {
  max-width: 1200px;
  margin: 5% auto 0;
}

.mobile-only {
  display: none !important;
}

.tanner-subtitle {
  position: relative;
  left: 65%;
  background-color: rgba(184, 164, 126, 0.42);
  padding-bottom: 0;
  padding: 0.3% 15% 0.3% 0;
  color: #6d6555;
}

@media only screen and (max-width: 1024px) {
  .tanner-subtitle {
    left: 50%;
    transform: translateX(-50%);
  }
}

.tanner-subtitle::before {
  position: absolute;
  margin: 9px 0 0 -115px;
  content: '';
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  margin-right: 10px;
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 1024px) {
  .tanner-subtitle::before {
    display: none;
  }
}

.tanner-1,
.tanner-2,
.tanner-4,
.tanner-3,
.tanner-4 {
  display: table;
  width: 100%;
  position: relative;
  top: 0;
  margin-top: 6%;
}

@media only screen and (max-width: 620px) {
  .tanner-1,
  .tanner-2,
  .tanner-4,
  .tanner-3,
  .tanner-4 {
    display: block;
  }
}

.tanner-2, .tanner-4 {
  margin-top: -10%;
}

.tanner-1__image,
.tanner-2__image,
.tanner-3__image,
.tanner-4__image {
  display: table-cell;
  vertical-align: middle;
  width: 45%;
}
.tanner-3__image {
  margin-top: -10%;
}

@media only screen and (max-width: 620px) {
  .tanner-1__image,
  .tanner-2__image,
  .tanner-3__image,
  .tanner-4__image {
    display: block;
    width: 100%;
  }
}

.tanner-1__image {
  width: 60%;
}

@media only screen and (max-width: 620px) {
  .tanner-1__image {
    width: 100%;
  }
}

.tanner-3__image, .tanner-4__image {
  position: relative;
  z-index: 2;
}

.tanner-4__image {
  float: right;
  width: 60%;
  z-index: 0;
  margin-right: 10%;
}

.tanner-1__image::before, .tanner-3__image::before, .tanner-4__image::before {
  content: "01";
  opacity: 0.53;
  color: #383838;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: absolute;
  margin: -2.5% 0 0 3%;
}

@media only screen and (max-width: 1024px) {
  .tanner-1__image::before, .tanner-3__image::before, .tanner-4__image::before {
    display: none;
  }
}

.tanner-1__image::after {
  content: '';
  margin: -41.5% 0 0 10%;
  position: absolute;
  width: 150px;
  vertical-align: middle;
  margin-right: 10px;
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 1024px) {
  .tanner-1__image::after {
    display: none;
  }
}

.tanner-2__image::after {
  content: '';
  position: absolute;
  height: 32%;
  vertical-align: middle;
  margin-right: 10px;
  border-right: 2px solid black;
  top: -20%;
  right: 34%;
}

@media only screen and (max-width: 1024px) {
  .tanner-2__image::after {
    display: none;
  }
}

.tanner-3__image::before, .tanner-4__image::before {
  content: "02";
    top: -10%;
    left: 90%;
}

@media only screen and (max-width: 1024px) {
  .tanner-3__image::before, .tanner-4__image::before {
    display: none;
  }
}

.tanner-4__image::before {
  content: "03";
  float: right;
  line-height: 0;
  position: absolute;
  top: 0%;
  left: 96%;
}

@media only screen and (max-width: 1024px) {
  .tanner-4__image::before {
    display: none;
  }
}

.tanner-1__text,
.tanner-2__text,
.tanner-3__text,
.tanner-4__text,
.tanner__title-white {
  padding-left: 5%;
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: 1024px) {
  .tanner-1__text,
  .tanner-2__text,
  .tanner-3__text,
  .tanner-4__text,
  .tanner__title-white {
    display: block;
    padding-left: 0;
  }
}

.tanner-1__text {
  padding: 0 2% 8% 5%;
}

.tanner-1__text > h5::after {
  content: '';
  position: absolute;
  height: 10%;
  vertical-align: middle;
  margin-right: 10px;
  border-right: 2px solid black;
  bottom: 80%;
  right: 34%;
}

@media only screen and (max-width: 1024px) {
  .tanner-1__text > h5::after {
    display: none;
  }
}

.tanner-2__text {
  padding-top: 15%;
  vertical-align: bottom;
}

.tanner-2__text > h5 {
  padding-left: 13%;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .tanner-2__text > h5 {
    padding-left: 5%;
  }
}

.tanner-2__text > h5::before {
  position: absolute;
  content: "";
  background-color: #b8a47e;
  opacity: 0.42;
  width: 82%;
  height: 70%;
  top: 20%;
  left: 3%;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  .tanner-2__text > h5::before {
    display: none;
  }
}

.tanner-2__text > h5::after {
  content: '';
  position: absolute;
  height: 600%;
  vertical-align: middle;
  margin-right: 10px;
  border-right: 2px solid black;
  top: -650%;
  left: 15%;
}

@media only screen and (max-width: 1024px) {
  .tanner-2__text > h5::after {
    display: none;
  }
}

.to-right {
  padding: 0 15% 0 15%;
}

@media only screen and (max-width: 1024px) {
  .to-right {
    padding: 0 2% 8% 5%;
  }
}

.to-right--2 {
  padding: 0 1% 0 5%;
  vertical-align: top;
}

.text-title {
  padding-bottom: 10px;
}

.text__passage {
  display: inline-block;
  color: #383838;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  padding-bottom: 20px;
  text-align: justify;
}

.text__link-last {
  margin-bottom: 25%;
}

.text__link::after, .text__link-last::after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 19px;
  vertical-align: middle;
  margin-left: 10px;
  background: url("../images/sprite.png") -113px -130px no-repeat;
  transform: scale(0.5);
  margin-top: -2px;
}

.text__link:hover,
.text__link-last:hover {
  margin-bottom: 1px;
}

.tanner-1__text > .text__link::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 305px;
  height: 150px;
  top: 0;
  right: 0;
  background: url("../images/logo-2.png") no-repeat;
  transform: scale(0.4);
  opacity: 0.12;
  margin: 22% 13% 0% 0%;
}

@media only screen and (max-width: 1024px) {
  .tanner-1__text > .text__link::before {
    display: none;
  }
}

.tanner__title-white {
  position: absolute;
  z-index: 2;
  text-shadow: 0px 13px 38px rgba(0, 15, 26, 0.27);
  color: white;
  font-family: 'Montserrat';
  font-size: calc( 0.025 * 100vw + 12px);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 30px;
  top: 51%;
  left: 3%;
}

@media only screen and (max-width: 620px) {
  .tanner__title-white {
    position: static;
    color: black;
    font-family: 'Montserrat';
    letter-spacing: 15px;
    text-align: center;
    margin-bottom: 5%;
  }
}

.slider-2 {
  padding: 0 0 7% 4%;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .slider-2 {
    text-align: left;
  }
}

.darken {
  display: inline-block;
  background: black;
  font-size: 0;
  margin: 1%;
  width: 10%;
  max-width: 150px;
}

@media only screen and (max-width: 1024px) {
  .darken {
    width: 20%;
  }
}

.darken:last-child::after {
  margin: 0 0 8% 3%;
  position: absolute;
  background: #b8a47e;
  width: 10%;
  height: 240%;
  content: '';
  opacity: 0.39;
  display: inline-block;
  bottom: 0;
  max-height: 590px;
}

@media only screen and (max-width: 1024px) {
  .darken:last-child::after {
    display: none;
  }
}

.slider-2__image:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 620px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: block !important;
  }
}

footer {
  background-color: #ededed;
}

.footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 5% 0 2% 0;
}

.footer__logo {
  display: inline-block;
  width: 10%;
  min-width: 100px;
  margin: 0 0 30px 1%;
  vertical-align: top;
}

.footer__logo > img {
  max-width: 150px;
}

@media only screen and (max-width: 620px) {
  .footer__logo {
    display: block;
    margin: 5% auto;
  }
}

.footer__navigation-1 {
  line-height: 25px;
  display: inline-block;
  width: 46%;
  margin: 0 0 30px 3%;
  text-align: left;
  vertical-align: top;
}

.footer__navigation-1 > a {
  color: #919191;
}

.footer__navigation-1 > a:hover {
  color: black;
}

@media only screen and (max-width: 620px) {
  .footer__navigation-1 {
    display: block;
    width: 97%;
    text-align: center;
  }
}

.footer__address {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
  margin: 0 0 30px 1%;
  min-width: 100px;
  display: inline-block;
  width: 20%;
  min-width: 150px;
  text-align: left;
  vertical-align: top;
  color: #383838;
font-style: none;
}

.footer__address > span {
  font-family: 'MullerExtraBoldDemo';
  font-style: none;
}

@media only screen and (max-width: 620px) {
  .footer__address {
    display: block;
    width: 99%;
    text-align: center;
    font-style: none;
  }
}

.footer__form {
  display: inline-block;
  width: 15%;
  min-width: 200px;
  margin: 0 0 30px 1%;
  text-align: left;
  vertical-align: top;
}

@media only screen and (max-width: 620px) {
  .footer__form {
    width: 99%;
    text-align: center;
  }
}

.form__passage-bold {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  padding-bottom: 3%;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  color: #000;
}

.form__passage {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 100;
  line-height: 25px;
  padding-bottom: 3%;
  display: inline-block;
  color: #383838;
}

.form__field {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  max-width: 180px;
  height: 35px;
  margin-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
  border: 1px solid #bababa;
  outline: none;
  background-color: #fff;
}

.form__button {
  width: 45px;
  height: 35px;
  vertical-align: middle;
  border: none;
  outline: none;
  background: #292929 url("../images/sprite/arrow-right-white.png") no-repeat 50%;
  -webkit-background-size: 15%;
  -o-background-size: 15%;
  background-size: 15%;
}

input[type='submit']:active {
  background-color: #5c5c5c;
}

.footer__copyright {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 25px;
  margin-top: 1%;
  min-width: 200px;
  display: inline-block;
  width: 30%;
  padding-left: 1%;
  text-transform: uppercase;
  color: #383838;
}

@media only screen and (max-width: 620px) {
  .footer__copyright {
    width: 99%;
    text-align: center;
    margin-bottom: 5%;
  }
}

.footer__navigation-2 {
  font-family: 'Muller Thin DEMO';
  font-weight: 400;
  line-height: 25px;
  display: inline-block;
  width: 50%;
}

.footer__navigation-2 a {
  font-family: 'MullerThinDemo';
  font-size: 16px;
  text-transform: none;
}

.footer__navigation-2 a:hover {
  font-family: 'MullerExtraBoldDemo';
}

@media only screen and (max-width: 620px) {
  .footer__navigation-2 {
    display: block;
    width: 99%;
    text-align: center;
  }
}

.navigation__link {
  margin: 0 1%;
  font-family: 'MullerExtraBoldDemo';
  font-size: 14px;
  color: black;
}

@media only screen and (max-width: 620px) {
  .navigation__link::before {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  .navigation__link::after {
    display: none;
  }
}